artifacts
build
Library
[Ll]ogs
[Tt]emp
obj
obj.meta

.bin
.download
.[Ee]ditor
.UnityLauncher.Editor
.vs
.vscode

.DS_Store
*.app
*.csproj
*.csproj.user
*.DotSettings
*.gen.csproj.meta
*.idea
*.pyc
*.sln
*.suo
*.swp
*.user
*.userprefs
*.VC.*